/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h1, h2 {
    color: #003366;
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
